@charset "utf-8";

html {
    height: 100%;
}

body {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    color: #fffefe;
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(180deg, #3C4767 0%, #3C4767 60%, #DF563B 100%) 0% 0% no-repeat padding-box;
    /* mix-blend-mode: darken;
    opacity: 1; */


}

a {
    text-decoration: none;
    color: #FFFEFE;
    /* transition: 0.6s; */
}

/* header {
    width: 100%;
} */

#header {
    margin: 0 auto;
    padding: 188px 0 66px;
    width: 312px;
}

#header h1 img {
    margin: 0 auto;
    width: 200px;
    display: block;
}

#header p {
    display: block;
    font-size: 28px;
    letter-spacing: 0px;
}

#container {
    width: 280px;
    font-size: 14px;
    margin: 0 auto;
    background: #0000002B 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}


/* login.blade.phpのレイアウト */
.login-top {
    padding: 34px 0 21px;
}

.login-top .headline {
    font-size: 14px;
    text-align: center;
}

.login-form {
    width: 230px;
    padding: 30px 0 15px;
    margin: 0 auto;
}

.login-form label {
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.login-form .input {
    width: 100%;
    height: 30px;
    background: #FFFEFE;
    border-radius: 6px;
    margin: 5px 0 15px;
    padding-left: 4px;
    color: #3C4767;
}


.flex {
    display: flex;
    justify-content: flex-end;
}

.login-form .button {
    display: block;
    background: #4B71CAb3;
    padding: 8px 28px 5px;
    border-radius: 6px;
    letter-spacing: 1.4px;
}

.login-form .under {
    font-size: 12px;
    text-align: center;
    padding-top: 32px;
}



/* register */

.user-register {
    width: 230px;
    padding: 30px 0 15px;
    margin: 0 auto;
}

.user-register label {
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.user-register .input {
    width: 100%;
    height: 30px;
    background: #FFFEFE;
    border-radius: 6px;
    margin-top: 5px;
    padding-left: 4px;
    color: #3C4767;
}

.password-form input {
    width: 100%;
    height: 30px;
    background: #FFFEFE;
    border-radius: 6px;
    margin-top: 5px;
    padding-left: 4px;
    color: #3C4767;
}

.form-group {
    margin-bottom: 14px;
}

.help-block strong {
    display: block;
    color: #4BE240;
    font-weight: normal;
    padding-top: 5px;
}

.user-register .button {
    display: block;
    background: #4B71CAb3;
    padding: 8px 28px 5px;
    border-radius: 6px;
    letter-spacing: 1.4px;
}

.user-register .under {
    font-size: 12px;
    text-align: center;
    padding-top: 58px;
}
