@charset "utf-8";

html {
    font-size: 14px;
}

body {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

/* header */
header {
    background: #3C4767;
    height: 75px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    color: #6C6C6C;
    ;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #6C6C6C;
}

#head {
    padding: 0 41px;
    display: flex;
    justify-content: space-between;
}

#head .top-logo {
    width: 154px;
    height: 100%;
}

#head .top-logo a,
#head .top-logo img {
    display: block;
    width: 100%;
    line-height: 0;
}


/* 右側メニュー */

#user-menu {
    color: #FFFFFF;
    padding: 20px 0;
}

#user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user .name {
    display: inline;
    vertical-align: middle;
    margin-right: 9.75px;
}

#user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 17.82px;
}

.menu-trigger {
    position: relative;
    width: 10.43px;
    height: 8.59px;
    cursor: pointer;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 10.43px;
    border-bottom: solid 1px #fff;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.menu-trigger span:nth-child(1) {
    top: 4px;
    transform: rotate(-60deg);
    left: 23.5%;
}

.menu-trigger span:nth-child(2) {
    top: 4px;
    transform: rotate(60deg);
    left: -19.5%;
}

.menu-trigger.active span:nth-child(1) {
    top: 4px;
    transform: rotate(60deg);
    left: 23.5%;
}

.menu-trigger.active span:nth-child(2) {
    top: 4px;
    transform: rotate(-60deg);
    left: -19.5%;
}

/* menu */

.user-nav {
    display: none;
    position: absolute;
    right: 0;
}

.user-nav.active {
    display: block;
    transform: translateY(0%);
    height: 237.1px;
}

.nav-wrapper {
    margin: 0 0 0 auto;
    width: 270px;
}

.nav-wrapper li {
    border: solid 1px #6C6C6C;
    color: #6C6C6C;
    background-color: #fff;
    margin: 0 0 -1px;
    font-size: 18px;
}

.nav-wrapper li a {
    display: block;
    padding: 28.5px 0;
    width: 100%;
    text-align: center;
}

.nav-wrapper li a:hover {
    background-color: #E2563B;
    color: #FFFFFF;
    transition: 0.5s;
}


/* follow フォーム　*/

#confirm {
    padding: 13px 23px 11.5px 15.5px;
    border-bottom: #D7D7D7 1px solid;
}

#confirm .btn {
    padding-bottom: 13px;
}

#confirm a {
    margin: 0 0 0 auto;
}


#side-bar a {
    display: block;
    width: 138px;
    background-color: #3C4767;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 14.5px 0;
}

#confirm .follow {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 13px 12px;
}



.search-btn {
    padding-top: 33.5px;
    width: 100%;
}

.search-btn a {
    margin: 0 auto;
}

/* 投稿フォーム */

.post-container {
    border-bottom: #D7D7D7 solid 5px;
    height: 108px;
    width: 100%;
}

.post {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 12.5px 200px 12.5px 17px;
}

.form-group {
    height: 100%;
    width: 750px;
    display: flex;
    align-items: center;
}

.post .icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-group .form-control {
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 5px;
    margin-left: 20px;
    resize: none;
}

.form-group .form-control:focus {
    outline: #3C4767 1px solid;
}


.post .post-btn {
    align-items: flex-end;
    width: 41px;
    height: 36px;
    margin: auto 0 0 0;

}

.post .post-btn img {
    display: block;
}



/* タイムライン */

.tweet-container {
    border-bottom: #D7D7D7 1px solid;
    padding: 24.5px 34.5px 24.5px 44px;
}

.tweet-list {
    display: flex;
    width: 100%;
}

.tweet-list .icon {
    border-radius: 50%;
    width: 51px;
    height: 51px;
}

.tweet-column {
    width: 100%;
    padding-left: 27px;
}

.tweet-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tweet {
    width: 754px;
    padding-top: 5px;
}

.edit-trash {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.edit-trash .edit {
    display: block;
    height: 43px;
    margin-right: 24px;
}

.trash {
    width: 55px;
    height: 55px;
    background-image: url(../images/trash.png);
}

.trash:hover {
    background-image: url(../images/trash_h.png);
}



/* edit 編集画面 */

.edit-trash form {
    display: none;
}


.edit-form {
    background-color: #0000004D;
    z-index: 2;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
}

.edit-text {
    width: 784px;
    height: 286px;
    padding: 36px 50px;
    background-color: #fff;
}

.edit-text .form-control {
    width: 100%;
    height: 152px;
    outline: #6C6C6C 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.edit-text button {
    width: 100%;
}

.edit-text img {
    display: block;
    margin: 21px 20px 0 auto;
}


/* search フォーム */
.search-container {
    border-bottom: #D7D7D7 solid 5px;
    height: 108px;
    width: 100%;
    display: flex;
}

.search-form {
    margin: 28px 15px 24.5px 78px;
    width: 390px;
    height: 50px;
    border: #707070 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.search-word {
    font-size: 18px;
    margin: 36px auto 36.5px 115px;
}

.user-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 230px 0 85px;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-container .icon {
    border-radius: 50%;
    margin-right: 15px;
}

.user-container p {
    font-size: 18px;
    color: #6C6C6C;
}

.user-list button {
    background-color: #4B71CABF;
    color: #fff;
    border-radius: 5px;
    padding: 11px 27px;
    width: 138px;
}

.user-list .remove-button {
    background-color: #B95656;
    padding: 11px 13px;
}


/* プロフィール */
#profile {
    display: flex;
    margin: 39px auto auto 116px;
}

#profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 27px;
}

.profile-update,
.profile-update th {
    font-size: 20px;
    font-weight: normal;
    color: #6C6C6C;
}

.profile-table {
    margin-top: 10px;
}

.profile-table tr {
    margin-bottom: 37px;
    display: block;
}

.profile-table th {
    width: 197px;
}

.profile-table td {
    background-color: #F2F2F2;
    border-bottom: 1px #707070 solid;
    width: 280px;
}

.profile-form {
    width: 100%;
}

.profile-form:focus {
    outline: none;
}

.profile-table .bio {
    font-size: 14px;
    height: 72px;
    resize: none;
}

.profile-table .profile-image {
    font-size: 14px;
    width: 326px;
    height: 110px;
    padding-top: 45px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.profile-image input {
    display: none;
}

.profile-btn {
    background-color: #7B9979;
    border-radius: 5px;
    color: #fff;
    padding: 11px 52px;
}


/* フォロワー・フォローリスト */

#follow-list,
#follower-list {
    height: 237.5px;
    border-bottom: 5px #D7D7D7 solid;
}

#follow-list h1,
#follower-list h1 {
    font-size: 28px;
    margin: 21px 0 21px 43px;
    color: #6C6C6C;
}

.follow-icon-image {
    display: flex;
    padding: 0 187.5px 26.5px 113px;
}

.follow-icon {
    width: 55px;
    height: 55px;
    margin-right: 25px;
}

.follow-icon img {
    border-radius: 50%;
}

.follow-icon a {
    display: block;
}


/* 相手のプロフィール */
.profile-header {
    border-bottom: 5px #D7D7D7 solid;

}

.user-profile {
    margin: 42px auto 36.5px 83px;
    display: flex;
}

.user-profile img {
    border-radius: 50%;
}

.profile-menu th {
    font-size: 20px;
    font-weight: normal;
    padding-right: 70px;
}

.profile-menu {
    margin-left: 33px;
}

.td-name {
    font-size: 20px;
}

.td-bio {
    font-size: 14px;
    width: 240px;
}

.profile-header form {
    display: flex;
    justify-content: flex-end;
}

.profile-header button {
    background-color: #4B71CABF;
    color: #fff;
    border-radius: 5px;
    padding: 11px 27px;
    width: 138px;
    margin: 0 27.5px 20.5px 0;
}

.profile-header .remove-button {
    background-color: #B95656;
    padding: 11px 13px;
    margin: 0 27.5px 20.5px 0;
}
