@charset "utf-8";

html {
    font-size: 14px;
}

body {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

/* header */
header {
    background: #3C4767;
    height: 75px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #6C6C6C;
}

#head {
    padding: 0 41px;
    display: flex;
    justify-content: space-between;
}

#head .top-logo {
    width: 154px;
    height: 100%;
}

#head .top-logo a,
#head .top-logo img {
    display: block;
    width: 100%;
    line-height: 0;
}


/* 右側メニュー */

#user-menu {
    color: #FFFFFF;
    padding: 20px 0;
}

#user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user .name {
    display: inline;
    vertical-align: middle;
    margin-right: 9.75px;
}

#user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 17.82px;
}

.menu-trigger {
    position: relative;
    width: 10.43px;
    height: 8.59px;
    cursor: pointer;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 10.43px;
    border-bottom: solid 1px #fff;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.menu-trigger span:nth-child(1) {
    top: 4px;
    transform: rotate(-60deg);
    left: 23.5%;
}

.menu-trigger span:nth-child(2) {
    top: 4px;
    transform: rotate(60deg);
    left: -19.5%;
}

.menu-trigger.active span:nth-child(1) {
    top: 4px;
    transform: rotate(60deg);
    left: 23.5%;
}

.menu-trigger.active span:nth-child(2) {
    top: 4px;
    transform: rotate(-60deg);
    left: -19.5%;
}

/* menu */

.user-nav {
    display: none;
    position: absolute;
    right: 0;
}

.user-nav.active {
    display: block;
    transform: translateY(0%);
    height: 237.1px;
}

.nav-wrapper {
    margin: 0 0 0 auto;
    width: 270px;
}

.nav-wrapper li {
    border: solid 1px #6C6C6C;
    color: #6C6C6C;
    background-color: #fff;
    margin: 0 0 -1px;
    font-size: 18px;
}

.nav-wrapper li a {
    display: block;
    padding: 28.5px 0;
    width: 100%;
    text-align: center;
}

.nav-wrapper li a:hover {
    background-color: #E2563B;
    color: #FFFFFF;
    transition: 0.5s;
}


/* follow フォーム　*/

#confirm {
    padding: 13px 23px 11.5px 15.5px;
    border-bottom: #D7D7D7 1px solid;
}

#confirm .btn {
    padding-bottom: 13px;
}

#confirm a {
    margin: 0 0 0 auto;
}


#side-bar a {
    display: block;
    width: 138px;
    background-color: #3C4767;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 14.5px 0;
}

#confirm .follow {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 13px 12px;
}



.search-btn {
    padding-top: 33.5px;
    width: 100%;
}

.search-btn a {
    margin: 0 auto;
}

/* 投稿フォーム */

.post-container {
    border-bottom: #D7D7D7 solid 5px;
    height: 108px;
    width: 100%;
}

.post {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 12.5px 200px 12.5px 17px;
}

.form-group {
    height: 100%;
    width: 750px;
    display: flex;
    align-items: center;
}

.post .icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-group .form-control {
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 5px;
    margin-left: 20px;
}

.form-group .form-control:focus {
    outline: #3C4767 1px solid;
}


.post .post-btn {
    align-items: flex-end;
    width: 41px;
    height: 36px;
    margin: auto 0 0 0;

}

.post .post-btn img {
    display: block;
}



/* タイムライン */

.tweet-list {
    border-bottom: #D7D7D7 1px solid;
    padding: 24.5px 34.5px 24.5px 44px;
    display: flex;
    width: 100%;
}

.tweet-list img {
    border-radius: 50%;
    margin-right: 27px;
    width: 51px;
    height: 51px;
}

.tweet-column {
    width: 100%;
}

.tweet-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tweet {
    width: 754px;
    padding-top: 5px;
}
